Django==4.2.27
django-encrypted-model-fields==0.6.5
django-filter==25.1
django-formtools==2.5.1
django-otp==1.6.3
django-phonenumber-field==8.3.0
django-two-factor-auth==1.18.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
mysqlclient==2.2.7
phoneumbers==9.0.5
phonenumberslite==9.0.6
pillow==11.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
# ---
# Vývojové a testovací závislosti přesunuty do requirements-dev.txt
# ---
