Vážený kliente,

byl Vám vytvořen účet v aplikaci JPL Servis pro správu Vaší hypotéky.

Pro nastavení hesla a přístup do aplikace klikněte na následující odkaz:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Po nastavení hesla se budete moci přihlásit pomocí:
E-mail: {{ username }}

Vaše heslo může být libovolné (minimálně 8 znaků). Doporučujeme však použít silné heslo.

V aplikaci naleznete všechny informace o Vaší hypotéce a průběhu vyřizování.

Pokud máte jakékoliv dotazy, kontaktujte svého finančního poradce.

S pozdravem,
tým JPL Servis
